Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
config.guess
config.log
config.status
config.sub
configure
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/libfastrpc-dev*
debian/libfastrpc5*
debian/libfastrpc6*
debian/libfastrpc7*
debian/tmp
depcomp
install-sh
libfastrpc.pc
libtool
ltmain.sh
m4
missing
version
*.changes
*.dsc
*.deb
*.tar.gz

# Solaris
solaris/build/
solaris/cfgfiles
solaris/pkg/
solaris/*.pkg.gz

node_modules
package-lock.json
