Source: python-fastrpc
Section: python
Priority: extra
Maintainer: Ondřej Kocian <ondrej.kocian@firma.seznam.cz>
Build-Depends:
 debhelper (>= 7.0.50~),
 libfastrpc-dev,
 python-all-dev,
 python-debian,
 python-setuptools
Standards-Version: 3.9.1
X-Python-Version: >= 2.6

Package: python-fastrpc
Section: python
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${python:Depends}
Conflicts: python2.5-fastrpc, python2.6-fastrpc
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Fastrpc -- RPC using XML and Binary protocol
 Fastrpc is a powerful and easy to use framework for the creation of
 distributed applications.
