Source: python-fastrpc
Section: python
Priority: extra
Maintainer: Seznam.cz, a.s. <opensource@firma.seznam.cz>
Build-Depends:
 debhelper (>= 7.0.50~),
 libfastrpc-dev,
 dh-python,
 python-all-dev (>= 2.6.6-3~),
 python-debian,
 python-setuptools,
 python3-all-dev,
 python3-setuptools,
 python3-debian,
# NOTE: we depend on Python >= 3.3, but on Wheezy there is only Python 3.2.
# However, we want to have single build specs for both Jessie and Wheezy. For
# this reason we drop the version restriction here and put it into the package
# Depends field.
Standards-Version: 3.9.1
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3

Package: python-fastrpc
Section: python
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${python:Depends}
Conflicts: python2.5-fastrpc, python2.6-fastrpc
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Fastrpc -- RPC using XML and Binary protocol
 Fastrpc is a powerful and easy to use framework for the creation of
 distributed applications.

Package: python-fastrpc-dbg
Section: python
Architecture: any
Depends: python-fastrpc (= ${binary:Version})
Description: Fastrpc -- debug symbols.
 Fastrpc is a powerful and easy to use framework for the creation of
 distributed applications.

Package: python3-fastrpc
Section: python
Architecture: any
Depends: python3 (>= 3.3),
 ${misc:Depends},
 ${shlibs:Depends},
 ${python3:Depends}
Conflicts: python2.5-fastrpc, python2.6-fastrpc
Provides: ${python3:Provides}
XB-Python-Version: ${python3:Versions}
Description: Fastrpc -- RPC using XML and Binary protocol
 Fastrpc is a powerful and easy to use framework for the creation of
 distributed applications.

Package: python3-fastrpc-dbg
Section: python
Architecture: any
Depends: python3-fastrpc (= ${binary:Version})
Description: Fastrpc -- debug symbols.
 Fastrpc is a powerful and easy to use framework for the creation of
 distributed applications.
