#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME = fastrpc

%:
	dh $@ --with=python2,python3 --buildsystem=pybuild

override_dh_strip:
	dh_strip --dbg-package=python-fastrpc-dbg
	mkdir -p $(CURDIR)/debian/python3-fastrpc-dbg/usr/lib/debug/usr/lib/python3/dist-packages
	if [ -d $(CURDIR)/debian/python-fastrpc-dbg/usr/lib/debug/usr/lib/python3 ] ; then \
	    mv -v $(CURDIR)/debian/python-fastrpc-dbg/usr/lib/debug/usr/lib/python3/dist-packages/* \
	    $(CURDIR)/debian/python3-fastrpc-dbg/usr/lib/debug/usr/lib/python3/dist-packages ; \
	fi
	rm -vfr $(CURDIR)/debian/python-fastrpc-dbg/usr/lib/debug/usr/lib/python3

