#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME = fastrpc

%:
	dh $@ --with=python2,python3 --buildsystem=pybuild

# http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=641314
override_dh_auto_test:
	dh_auto_test
	./setup.py test
