Source: libfastrpc
Section: Seznam
Priority: optional
Maintainer: Seznam.cz a.s. <opensource@firma.seznam.cz>
Build-Depends: debhelper (>=8), libxml2-dev, autoconf, libtool, automake, dh-autoreconf, pkg-config
Standards-Version: 3.9.1

Package: libfastrpc8
Architecture: any
Section: Seznam
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fastrpc - RPC library, supports binary and XML encoding
 Fastrpc is a powerful and easy to make distributed applications.

Package: libfastrpc-dev
Architecture: any
Section: Seznam
Depends: libfastrpc8 (= ${binary:Version}), ${misc:Depends}, libxml2-dev
Description: Development files for fastrpc library
 Here are files necessary for developing new applications
 that use fastrpc library and its C/C++ interface.

Package: libfastrpc8-dbg
Architecture: any
Section: Seznam
Depends: libfastrpc8 (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for fastrpc library.
