Source: libfastrpc
Section: Seznam
Priority: optional
Maintainer: Lukas Lobotka <lukas.lobotka@firma.seznam.cz>
Build-Depends: debhelper (>=8), libxml2-dev, autoconf, libtool, automake, dh-autoreconf, pkg-config
Standards-Version: 3.9.1

Package: libfastrpc5
Architecture: any
Section: Seznam
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fastrpc - RPC library, supports binary and XML encoding
 Fastrpc is a powerful and easy to make distributed applications.

Package: libfastrpc-dev
Architecture: any
Section: Seznam
Depends: libfastrpc5 (= ${binary:Version}), ${misc:Depends}, libxml2-dev
Description: Description: Development files for fastrpc library
 Here are files necessary for developing new applications
 that use fastrpc library and its C/C++ interface.
