#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_install:
	find $(DESTDIR) -type f -name \*.la -delete
	dh_auto_install


.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=libfastrpc8-dbg

override_dh_makeshlibs:
       dh_makeshlibs -V
